.home-container {
    padding: 20px;
    text-align: center;
}

.welcome-section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.welcome-message {
  color: #d06620; 
  font-size: 24px;
}

.top-users-title {
  color: #333; 
  margin-top: 20px;
  font-size: 20px;
}

.top-users-list {
  list-style: none; /* Remove bullets from list */
  padding: 0; /* Remove padding */
  margin-top: 10px; /* Space above the list */
  text-align: left; /* Align text to the left */
}

.top-user-item {
  padding: 10px; /* Padding around each list item */
  border-bottom: 1px solid #ddd; /* Light border between items */
}

.btn {
    background-color: #d06620; /* Green background */
    border: none; /* No borders */
    color: white; /* White text */
    padding: 15px 32px; /* Padding around the text */
    text-align: center; /* Center the text inside */
    text-decoration: none; /* No underline */
    display: inline-block; /* Set display to inline-block */
    font-size: 16px; /* Set text size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
  }
  
  .btn:hover {
    background-color: #d06620; /* Darker shade of green when hovering */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /* Add shadow for 3D effect */
  }
  